.container {
  position: sticky;
  z-index: 5;
  left: 0;
  top: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container {
  position: absolute;
  left: 0px;
  width: 40%;
  display: flex;
  align-items: center;
}

.nav-item {
  text-decoration: none;
  margin: 3.5%;
  font-family: "GT America";
  font-weight: normal;
  font-size: 14px;
  cursor: pointer;
}

.menu-icon {
  margin: 3.5%;
  cursor: pointer;
}

.logo {
  cursor: pointer;
  animation: 1s fadeIn;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  align-items: flex-end;
  width: 20%;
  right: 0px;
  margin-right: 3.5%;
}

.copyright {
  display: none;
}

.email {
  font-size: 14px;
  font-family: "GT America";
  font-weight: normal;
}

.phone {
  font-family: "GT America";
  font-weight: normal;
  font-size: 14px;
  margin-top: 8px;
}

.header-content {
  color: white;
  text-align: center;
  padding-top: 8%;
  padding-bottom: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header-content > div > h1 {
  font-weight: 100;
  margin: 2%;
  margin-left: 40px;
  margin-right: 40px;
  cursor: pointer;
  font-family: "Ivar Display";
  font-weight: normal;
  font-style: normal;
  font-size: 60px;
}
.header-content > div > h1 > a {
  text-decoration: none;
  color: #ffffff;
}
.header-content > div > h1 > a:hover {
  color: gold;
}

.header-content > div > h2 {
  font-weight: lighter;
  font-size: 30px;
}

.header-content > div {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
}

.header-bottom-content {
  display: flex;
  margin-top: 7%;
}

.header-bottom-content > div {
  display: flex;
  margin: 2%;
}

.header-bottom-content > div > div {
  margin-left: 8px;
  font-size: 13px;
}
.services-header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services-sticky-bar {
  height: 1px;
  margin-top: 1rem;
  width: 80%;
  background: #f3f3f3;
}
.services-sticky-container {
  display: flex;
  margin-top: 0.5rem;
}
.services-sticky-container > a {
  text-decoration: none;
  color: #34342e;
  font-family: GT America;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 170%;
  margin: 0px 32px;
}
.services-link-active {
  color: #c19a5b;
}

@media screen and (max-width: 1080px) {
  .nav-item {
    display: none;
  }
  .services-sticky-container > a {
    font-size: 12px;
    margin: 0px 24px;
  }
}
@media screen and (max-width: 760px) {
  .services-header-container {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .contact {
    display: none;
  }
  .copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    font-family: "GT America";
    font-weight: normal;
    width: 51px;
    right: 2%;
    color: #34342e;
  }
  .menu-icon {
    left: 2%;
  }
  .header-content > div {
    flex-direction: column;
  }
  .header-content > div > h2 {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .header-content > div > h1 {
    font-size: 20px;
    margin: 4%;
  }
  .header-bottom-content {
    margin-top: 50px;
  }
  .header-content {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}
